button{
    
    width: 250px;
    height: 80px;
    font-family: Roboto ,sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: rgb(255, 255, 255);
    border:2px solid rgb(0, 0, 0);
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(41, 3, 38);
}
.boton-clic{
    background-color: purple;
}
.boton-reiniciar{
    background-color: purple;
}
