*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

html,
body{
  background-color: aliceblue;
}

.app{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: sans-serif;
}

.iesazarquiel-logo-contendor{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.iesazarquiel-logo{
  height: 15px;
}

.contendor-principal{
  height: 550px;
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: center;
  align-items: center;
  justify-content: center;
}